@model IEnumerable<VuVanQuyet789.Models.CompanyVVQ789>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
